footer {
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.permalinks a {
    color: var(--color-white);
    font-family: var(--font-mono);
}

.permalinks a:hover {
    color: var(--color-green);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    color: var(--color-green);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid var(--color-green);
}

.footer__socials a:hover {
    background: var(--color-green-transparency);
    border-color: var(--color-green);
    color: var(--color-white);
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-green);
}

.footer__copyright-heart {
    color: red;
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============*/

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}