#experience>h1 {
    color: var(--color-green);
    font-size: 1rem;
    font-family: var(--font-mono);
    text-align: center;
}

#experience>h2 {
    color: var(--lightest-slate);
}

.experience__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience__cards {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
    gap: 40px;
    text-align: right;
}

.experience__card .experience__card-title {
    color: var(--color-green);
    font-size: 2rem;
    font-family: var(--font-mono);
}

.experience__card .experience__card-company,
.experience__card-description,
.experience__card-location {
    color: var(--lightest-slate);
    font-family: var(--font-sans);
}

.experience__container-liveText {
    letter-spacing: 5px;
    color: var(--color-green);
    font-size: 2.5rem;
    font-family: var(--font-mono);
}

.experience__card .readMoreBtn {
    color: var(--color-green);
    cursor: pointer;
}

.experience__card>.read_more_text {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.experience__card>.read_more_text.active {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) =============*/

@media screen and (max-width: 1024px) {
    .experience__cards {
        place-items: center;
        gap: 40px;
        text-align: center;
    }

    .experience__card .experience__card-title {
        font-size: 1.5rem;
    }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============*/

@media screen and (max-width: 600px) {
    .experience__cards {
        place-items: center;
        gap: 40px;
        text-align: center;
    }

    .experience__card .experience__card-title {
        font-size: 1.5rem;
    }
}