@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Fira+Mono&family=Roboto+Mono:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

:root {
    --color-bg: #1f1f38;
    --color-black: #000000;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-green: #64ffda;
    --color-green-transparency: #64ffdb2f;
    --lightest-slate: #ccd6f6;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --slate: #8892b0;
    --color-light: rgba(255, 255, 225, 0.6);
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
    --transition: all 400ms ease;
    --navy: #0a192f;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.7;
}

/* ================== GENERAL STYLES ======================== */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-green);
    transition: var(--transition);
}

.btn {
    width: max-content;
    display: inline-block;
    columns: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-green);
    transition: var(--transition);
    color: var(--color-green);
}

.btn:hover {
    background-color: var(--color-green-transparency);
    color: var(--color-green);
}

.btn-primary {
    background-color: var(--color-green);
    color: var(--color-black);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--color-green);
}


img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) =============*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============*/

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-ms);
    }

    section>h2 {
        margin-top: 2rem;
    }
}